<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="./images/icon.png">
        <Link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="mainContent">
            {{>header}}
            <p>{{msg}}</p>
        </div>
        {{>footer}}
    </body>
</html>
