<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="./images/icon.png">
        <Link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="mainContent">
            {{>header}}
            <p>This is your friendly About Page.  Enjoy! {{name}}</p>
            <img class="portrait" src="images/mark.jpg">
        </div>
        {{>footer}}
    </body>
</html>